body {
    padding: 0 5rem;
}
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #6644ff;
}
p {
    color: #777;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #6644ff;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.Main {
    padding: 1rem 0;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Menu-item {
    border-right: 1px solid #333;
    padding: 0 1rem;
}

.Menu-item:last-child {
    border-right: none;
    padding-right: 0;
}

.Articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.Articles-item {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}
.Articles-item:last-child {
    border-bottom: none;
}

.Footer {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    border-top: 2px solid black;    
}
.Footer-text {
    color: black;
}
.Footer-strong {
    color: #6644ff;
}
